<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<system.serviceModel>
		<services>
			<service name="LottoDrawSimulator.Services.PlayerService">
				<endpoint address="" binding="wsDualHttpBinding" contract="LottoDrawSimulator.Contracts.IPlayerService" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/PlayerService" />
					</baseAddresses>
				</host>
			</service>
			<service name="LottoDrawSimulator.Services.LotteryMachineService">
				<endpoint address="" binding="wsHttpBinding" contract="LottoDrawSimulator.Contracts.ILotteryMachineService" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/LotteryMachineService" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<bindings>
			<wsDualHttpBinding>
				<binding name="WSDualHttpBinding_IPlayerService">
					<security mode="None" />
				</binding>
			</wsDualHttpBinding>
			<wsHttpBinding>
				<binding name="wsHttpBindingConfig">
					<security mode="None" />
				</binding>
			</wsHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="True" />
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>